body {
  text-align: center;
  background-image: url(C:/Users/Asus/Documents/GitHub/fuzzy-direx/img/mainbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* home start */

h1{
  font-family: 'Poppins ExtraBold';
  line-height: 0.5;
}

p{
  font-family: 'Poppins';
}

form{
  display: inline-block;
}

input[type=password], input[type=text], input[type=email]{
  width: 100%;
  padding: 12px 20px;
  background-color: rgba(206, 212, 218, 0.5);
  margin: 8px 0;
  box-sizing: border-box;
  border: 10px #ced4da;
  border-radius: 4px;
}

.logo{
  font-weight: 800;
  float: left;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.logo:hover{
  color: #82ae46;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nbbutton{
  display: block;
  font-family: 'Poppins';
  font-weight: 400;
  float: left;
  color: white;
}

.nbbutton a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nbbutton a:hover:not(.active){
  background-color: #111;
}

.active{
  background-color: #82ae46;
}

.button{
  background-color: #82ae46;
  border-radius: 15px;
  padding: 15px 32px;
  margin: 4px 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins';
  display: inline-block;
  cursor: pointer;
}

.buttonsub{
  background-color: white;
  color: black;
  border: 1px solid #82ae46;}
  .buttonsub:hover{
    background-color: #82ae46;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.box{
  background-color: #e9ecf0;
  margin: auto;
  width: 500px;
  padding: 10px;
  border: 1px solid #82ae46;
  text-align: center;
}

.div1 {
  background-color: black;
  opacity: 0.6;
  border-left: 15px;
  border-right: 15px;
  border-top: 45px;
  width: 1350px;
  height: 400px;
  position: absolute;
}

.div2 {
  position: absolute;
}

.welcome {
  text-align: center;
  color: white;
  font-family: French Script MT;
  font-size: 70px;
  opacity: 1;
}

.ORGAFOOD {
  text-align: center;
  color: white;
  font-family: "Poppins";
  font-size: 90px;
  font-weight: 800;
}

.sambutan {
  text-align: center;
  color: white;
  font-family: Gabriola;
  font-size: 30px;
  line-height: 20px;
  padding-right: 105px;
  padding-left: 100px;
}

/* end of home */

/* produk start */

.produkbg {
	background-color: #EEEEEE;
}

.kategori {
	background-color: white;
	font-family: "Poppins";
	width: 210px;
	height: 120px;
	font-size: 15px;
	position: absolute;
	top: 20px;
  	left: 10px;
}

.kategoriproduk {
	font-size: 20px;
	padding-left: 20px;
	padding-top: 10px;
}

.filter {
	background-color: white;
	font-family: "Calibri";
	width: 200px;
	height: 150px;
	font-size: 15px;
	position: absolute;
	top: 160px;
  	left: 10px;
  	padding-left: 10px;
}

.filterr {
	font-size: 20px;
	padding-top: 5px;
}

.gambarbuah {
	background-image: url(C:/Users/Asus/Documents/GitHub/fuzzy-direx/img/gambarbuah.png);
	width: 1000px;
	height:  400px;
	background-size: 1000px 500px;
  	background-repeat: no-repeat;
 	position: absolute;
 	top: 20px;
 	left: 250px;
}


.backgroundbuah {
	background-color: black;
	opacity: 0.6;
	position: relative;
	height: 100px;
	width: 800px;
  	left: 440px;
  	top: 120px;
}

.buah {
	position: relative;
	color: white;
	top: 35px;
  	left: 450px;
  	line-height: 5px;
}

.buahognk {
	font-family: Swis721 Hv BT;
}

.Dipetik {
	font-family: Microsoft Himalaya;
	font-size: 30px;
}

.jeruknipis {
	background-color: white;
	width: 250px;
	height: 300px;
	font-size: 10px;
	position: relative;
	top: 280px;
  	left: 240px;
  	padding-top: 0px;
  	text-align: center;
}

.coret {
	opacity: 0.6;
	text-decoration: line-through;
}

.harga {
	color: #00FF00;
}

.Kg {
	opacity: 0.6;
}

.gambarJN {
	background-image: url(C:/Users/Asus/Documents/GitHub/fuzzy-direx/img/JN.jpg);
	width: 275px;
	height: 170px;
	background-size: 200px 130px;
	background-repeat: no-repeat;
	position: relative;
	top: 30px;
	left: 25px;
}

.strawberry {
	background-color: white;
	width: 250px;
	height: 300px;
	font-size: 10px;
	position: relative;
  	left: 495px;
  	bottom: 20px;
  	padding-top: 0px;
  	text-align: center;
}

.gambarST {
	background-image: url(C:/Users/Asus/Documents/GitHub/fuzzy-direx/img/ST.jpg);
	width: 275px;
	height: 170px;
	background-size: 200px 130px;
	background-repeat: no-repeat;
	position: relative;
	top: 30px;
	left: 25px;
}

.kiwi {
	background-color: white;
	width: 250px;
	height: 300px;
	font-size: 10px;
	position: relative;
  	left: 750px;
  	bottom: 320px;
  	padding-top: 0px;
  	text-align: center;
}

.gambarKW {
	background-image: url(C:/Users/Asus/Documents/GitHub/fuzzy-direx/img/KW.jpg);
	width: 275px;
	height: 170px;
	background-size: 200px 130px;
	background-repeat: no-repeat;
	position: relative;
	top: 30px;
	left: 25px;
}

.blueberry {
	background-color: white;
	width: 250px;
	height: 300px;
	font-size: 10px;
	position: relative;
  	left: 1005px;
  	bottom: 620px;
  	padding-top: 0px;
  	text-align: center;
}

.gambarBL {
	background-image: url(C:/Users/Asus/Documents/GitHub/fuzzy-direx/img/KW.jpg);
	width: 275px;
	height: 170px;
	background-size: 200px 130px;
	background-repeat: no-repeat;
	position: relative;
	top: 30px;
	left: 25px;
}

/* end of produk */
